.header {}

.navbar {
  background: #fff;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  z-index: 9998;
  border-bottom: 1px solid #ddd;

  @media (max-width: 991px) {
    &::after {
      width: 100%;
    }
  }
}

.langs a:first-of-type,
.search-btn {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  height: 20px;
  line-height: 20px;
}

.search-btn {
  color: #333;
  font-size: 0.9em;

  @media (max-width: 767px) {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}

.navbar-toggler {
  margin-top: 5px;

  span {
    width: 20px;
    height: 2px;
    background: #222;
    margin-bottom: 4px;
    display: block;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.active {
  @media (max-width: 991px) {
    &::after {
      width: calc(100% - 170px);
    }
  }

  span {
    margin: 0;

    &:first-of-type {
      -webkit-transform: rotate(45deg) translate(3px);
      transform: rotate(45deg) translate(3px);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:last-of-type {
      -webkit-transform: rotate(-45deg) translate(3px);
      transform: rotate(-45deg) translate(3px);
    }
  }
}

.langs {
  a {
    font-size: 0.8em;
    color: #aaa;
    font-weight: 700;
  }

  span {
    width: 15px;
    height: 1px;
    background: #ddd;
    margin: 0 5px;
  }
}

.langs a.active {
  color: #333;
}

.search-area {
  display: none;
  z-index: 9999;

  @media (max-width: 991px) {
    font-size: 0.75em;
  }
}

.search-area-inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.99);
  padding: 20px !important;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    background: none;
    padding: 10px 0;
    font-size: 1.6em;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;

    &::-moz-placeholder {
      font-family: "Open Sans", sans-serif;
      color: #555;
      font-weight: 300;
      font-size: 1.1em;
    }

    &::-webkit-input-placeholder {
      font-family: "Open Sans", sans-serif;
      color: #555;
      font-weight: 300;
      font-size: 1.1em;
    }

    &:-ms-input-placeholder {
      font-family: "Open Sans", sans-serif;
      color: #555;
      font-weight: 300;
      font-size: 1.1em;
    }
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.row {
  width: 100%;
}

.form-group {
  position: relative;
}

.submit {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

@media (max-width: 991px) {
  nav.navbar .navbar-header {
    width: 100%;
  }
}
